<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div id="main-content" class="row" style="margin-top: 30px;">
    <div class="pagging">
        <div th:replace="/sites/common/table::table-header"></div>
    </div>
    <table id="myTable" class="table table-striped table-bordered"
           style="width: 99%; position: relative; z-index: 0">
        <thead style="position: relative">
        <tr>
            <th style="text-align: center">Mã đề tài</th>
            <th style="text-align: center">Tên đề tài</th>
            <th style="text-align: center">Thông tin đề tài</th>
            <th style="text-align: center">Giảng viên hướng dẫn</th>
            <th style="text-align: center">Hệ đào tạo</th>
            <th style="text-align: center"></th>
        </tr>
        </thead>
        <tbody style="position: relative">
        <tr th:each = "itm : ${userVO.getLstProject()}">
            <td style="text-align: center; " th:text="${itm.id}"></td>
            <td style="text-align: center; "><a th:text="${itm.name}"></a></td>
            <td style="text-align: center; " th:text="${itm.description}"></td>
            <td style="text-align: center; " th:text="${itm.lecturerId}"></td>
            <td style="text-align: center; " th:text="${itm.levelName}"></td>
            <td>
                <a>
                    <button class="btn btn-success new-btn" >Đăng ký ❯</button>
                </a>
            </td>
            <!--  <td th:text="${lsProject[i.index].name}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/common/table.js}"></script>
</html>