<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Page</title>
<link href="../static/css/back-end-login.css"
	th:href="@{/css/back-end-login.css}" rel="stylesheet" />
<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"
	th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body>
  <div class="container">
    <div class="info">
      <h1>ĐỒ ÁN TỐT NGHIỆP HAUI</h1><span>Made with <i class="fa fa-heart"></i> by <a href="https://www.facebook.com/opizq">Team 4 - KTPM CLC K9</a></span>
    </div>
  </div>
  <div class="form">
    <div class="thumbnail"><img src="../static/images/hat.svg" th:src="@{/img/hat.svg}"/></div>
    
    <form class="login-form" th:action="@{/login}" method="post">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password" />
      <p th:if="${param.error}" class="error">Invalid username or password !</p>
      <button type="submit">login</button>
      <p class="message">Forgot password? <a href="#">Reset Password</a></p>
    </form>

  </div>
</body>
</html>