<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clc.gpm.dao.mapper.LecturerMapper">

    <select id="getAllLecturerSummary" parameterType="SearchLecturerDTO">
        SELECT
            l.LECTURER_ID, FIRSTNAME, LASTNAME, p.NAME, f.NAME
        FROM
            user AS u,
            lecturer AS l,
            faculty AS f,
            job_position AS p
        WHERE
            l.USER_ID = u.ID
            AND l.FACULTY_ID = f.ID
            AND l.POSITION = p.ID
            AND l.DELETE_FLG = '0'
    </select>

    <select id="getListLecturerByFacultyId" parameterType="SearchProjectDTO" resultType="LecturerDTO">
        SELECT
            l.LECTURER_ID as lecturerId,
            u.FIRSTNAME as firstName,
            u.LASTNAME AS lastName,
            u.DESCRIPTION as description,
            (SELECT count(*) FROM project as p WHERE p.LECTURER_ID = l.LECTURER_ID AND p.DELETE_FLG = '0' AND p.STATUS =
            '1') as projectNum
        FROM
            lecturer as l, user as u
        WHERE
            u.ID = l.USER_ID AND
            l.FACULTY_ID = #{facultyId} AND
            l.DELETE_FLG = '0'
            <if test="orderBy == null or orderBy.length == 0">
            ORDER BY l.LECTURER_ID ASC
            </if>
            <if test="orderBy !=null and orderBy.length > 0">
                ORDER BY ${orderBy} ${orderType}
            </if>
            LIMIT #{offset}, #{limit}
    </select>
    
    <select id="getLecturerIdByUserId" resultType="String">
        SELECT
          lecturer.LECTURER_ID
        FROM
          lecturer
        WHERE
          DELETE_FLG = '0' AND
          USER_ID = #{userId}
    </select>

    <select id="countAllLecturerByFacultyId" parameterType="SearchProjectDTO" resultType="int">
        SELECT
       COUNT(*)
        FROM
        lecturer as l, user as u
        WHERE
        u.ID = l.USER_ID AND
        l.FACULTY_ID = #{facultyId} AND
        l.DELETE_FLG = '0'
    </select>

</mapper>